/**
* @name Skycreat's BD Theme
* @description A Theme for BetterDiscord edit by Skycreat. Original Theme: http://github.com/CapnKitten (Material Design).
* @version 0.0.1

* @author Skycreat#9696
* @authorId 363751274656563212

* @source https://gist.github.com/rauenzi/e5f4d02fc3085a53872b0236cd6f8225
*/

@import url(https://capnkitten.github.io/BetterDiscord/Themes/Material-Discord/css/source.css);

:root {
	--accent-color: #577be2;
	--accent-rgb: 94,122,199;
	--accent-text-color: #fff;
	--accent-button-action: #fff; /*	-	*/
	
	--avatar-radius: 50%; /*	-	*/

	--message-radius: 19px;
	--message-padding: 8px 12px;
	--message-padding-alt: 4px 12px 8px 12px; /*	-	*/

	--card-radius: 5px;
	--card-radius-big: 10px;
}
